extends ../../../layout
block append script
block content
  .container
    h2.text-info.text-center انواع بیل مکانیکی های هیوندای
    .row.mt-5.p-4
      p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های هیوندای
    .row
      ul#products
        each item in products
          a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
            .row.mt-5
            //btn.btn-success.p-1.rounded سفارش قطعات
          script.
            console.log(!{JSON.stringify(item)})