extends ../layout1
block append script
	script(src='./javascripts/comma.js')
	script(src='./javascripts/onlynumber.js')
block content
	.container
		form(method='post' action='/workbench/update/'+ product._id)
			.containeredit
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="name") نام محصول:
					.col-md-3
						input#name.form-control(name="name" required="is required" oninvalid="setCustomValidity('لطفا نام محصول را وارد کنید')" oninput="setCustomValidity('')" value= product.name)
					.col-md-3
						label(for="description") توضیحات:
					.col-md-3
						input#description.form-control(name="description" required="is required" value= product.description)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="productbranch") شاخه:
					.col-md-3
						input#productbranch.form-control(name="productbranch" required="is required" oninvalid="setCustomValidity('لطفا شاخه محصول را وارد کنید')" oninput="setCustomValidity('')" value= product.productbranch)
					.col-md-3
						label(for="productcode") کد محصول:
					.col-md-3
						input#productcode.form-control(name="productcode" required="is required" oninvalid="setCustomValidity('لطفا کد محصول را وارد نمایید')" oninput="setCustomValidity('')" value= product.productcode)
				.row.mt-2.mb-2.ml-5
				hr
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="imagea") عکس اول:
					.col-md-3
						input#imagea.form-control(name="imagea" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس اول الزامی است')" oninput="setCustomValidity('')" value= product.imagea)
					.col-md-3
						label(for="imageb") عکس دوم:
					.col-md-3
						input#imageb.form-control(name="imageb" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس دوم الزامی است')" oninput="setCustomValidity('')" value= product.imageb)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="imagec") عکس سوم:
					.col-md-3
						input#imagec.form-control(name="imagec" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس سوم الزامی است')" oninput="setCustomValidity('')" value= product.imagec)
					.col-md-3
						label(for="imaged") عکس چهارم:
					.col-md-3
						input#imaged.form-control(name="imaged" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس چهارم الزامی است')" oninput="setCustomValidity('')" value= product.imaged)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="imagee") عکس پنجم:
					.col-md-3
						input#imagee.form-control(name="imagee" required="is required" oninvalid="this.setCustomValidity('ورود کد عکس پنجم الزامی است')" oninput="setCustomValidity('')" value= product.imagee)
						//- script.
						//- 	console.log(!{JSON.stringify(product)})
					.col-md-3
					.col-md-3.text-center
						.container
							p.small.text-success توجه: کد عکس اول باید شامل عکس اصلی محصول باشد و عکس های دوم تا چهارم شامل عکس قطعات آن می باشد.
			.containereditdetail
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="blocksilandr") بلوک سیلندر:
					.col-md-3
						input#blocksilandr.form-control(type="text" name="blocksilandr" maxlength="50" onkeypress="return isNumber(event)" value= product.blocksilandr)
					.col-md-3
						label(for="silandr") سیلندر:
					.col-md-3
						input#silandr.form-control(type="text" name="silandr" maxlength="50" onkeypress="return isNumber(event)" value= product.silandr)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="sarsilandr") سر سیلندر:
					.col-md-3
						input#sarsilandr.form-control(type="text" name="sarsilandr" maxlength="50" onkeypress="return isNumber(event)" value= product.sarsilandr)
					.col-md-3
						label(for="millang") میل لنگ:
					.col-md-3
						input#millang.form-control(type="text" name="millang" maxlength="50" onkeypress="return isNumber(event)" value= product.millang)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="milsupap") میل سوپاپ:
					.col-md-3
						input#milsupap.form-control(type="text" name="milsupap" maxlength="50" onkeypress="return isNumber(event)" value= product.milsupap)
					.col-md-3
						label(for="bush") بوش:
					.col-md-3
						input#bush.form-control(type="text" name="bush" maxlength="50" onkeypress="return isNumber(event)" value= product.bush)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="ring") رینگ:
					.col-md-3
						input#ring.form-control(type="text" name="ring" maxlength="50" onkeypress="return isNumber(event)" value= product.ring)
					.col-md-3
						label(for="yataghan") یاطاقان:
					.col-md-3
						input#yataghan.form-control(type="text" name="yataghan" maxlength="50" onkeypress="return isNumber(event)" value= product.yataghan)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="supap") سوپاپ:
					.col-md-3
						input#supap.form-control(type="text" name="supap" maxlength="50" onkeypress="return isNumber(event)" value= product.supap)
					.col-md-3
						label(for="seat") سیت:
					.col-md-3
						input#seat.form-control(type="text" name="seat" maxlength="50" onkeypress="return isNumber(event)" value= product.seat)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="gate") گیت:
					.col-md-3
						input#gate.form-control(type="text" name="gate" maxlength="50" onkeypress="return isNumber(event)" value= product.gate)
					.col-md-3
						label(for="waterpomp") واترپمپ:
					.col-md-3
						input#waterpomp.form-control(type="text" name="waterpomp" maxlength="50" onkeypress="return isNumber(event)" value= product.waterpomp)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="oilpomp") اویل پمپ:
					.col-md-3
						input#oilpomp.form-control(type="text" name="oilpomp" maxlength="50" onkeypress="return isNumber(event)" value= product.oilpomp)
					.col-md-3
						label(for="washerkamel") واشر کامل:
					.col-md-3
						input#washerkamel.form-control(type="text" name="washerkamel" maxlength="50" onkeypress="return isNumber(event)" value= product.washerkamel)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="washersarsilandr") واشر سر سیلندر:
					.col-md-3
						input#washersarsilandr.form-control(type="text" name="washersarsilandr" maxlength="50" onkeypress="return isNumber(event)" value= product.washersarsilandr)
					.col-md-3
						label(for="washerkartel") واشر کارتل:
					.col-md-3
						input#washerkartel.form-control(type="text" name="washerkartel" maxlength="50" onkeypress="return isNumber(event)" value= product.washerkartel)
				.row.mt-2.mb-2.ml-5
					.col-md-3
						label(for="asbakdudohava") اسبک دود و هوا:
					.col-md-3
						input#asbakdudohava.form-control(type="text" name="asbakdudohava" maxlength="50" onkeypress="return isNumber(event)" value= product.asbakdudohava)

			.row.mt-3
				.col-md-12.text-center
					a.btn.btn-warning.linkbutton.mt-3(href='/workbench/index' style="margin-left: 2%;") بازگشت
					button.btn.btn-success.linkbutton.mt-3(type="submit" style="margin-left: 2%;") به روز رسانی