extends ../layout
block append script
  script(src='./javascripts/table.js')
block content
  .container
    .row
        .col-md-2
            a.btn.menuitem.mt-5(href="/workbench/index") مدیریت محصولات
        .col-md-2
            a.btn.menuitem.mt-5(href="/transaction/adminindex") مدیریت سفارشات
