doctype html
head
	meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes')
	title dieselkala
	//link(rel='stylesheet' href='css/demo.css')
	link(rel='stylesheet' href='/stylesheets/jquery.dmenu.css')
	style.
			.dm-menu
			{
			--dm-bg: #fff;
			--dm-logo-width: 120px;
			--dm-item-hover-bg: #f3f3f3;
			--dm-menu-height: 100px;
			}
			.dm-menu > ul > li
			{
			border-right: 1px solid #eee;
			
			}
			.dm-menu > ul > li:first-child
			{
			border-left: 1px solid #eee;
			}
			.dm-menu > ul > li > a
			{
			text-decoration: none;
			}
			.dm-menu > ul > li > ul > li > a
			{
			text-decoration: none;
			}
			.dm-menu > ul > li > ul > li > ul > li > a
			{
			text-decoration: none;
			}
			.dm-menu > ul > li > ul > li > ul > li > ul > li > a
			{
			text-decoration: none;
			display: inline-block;
			}
			.dm-menu > ul > li > ul > li > ul > li > ul > li > ul > li > a
			{
			text-decoration: none;
			}
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')
	//link(rel="stylesheet", href='/stylesheets/dataTables.bootstrap.min.css')
	link(rel="stylesheet", href='https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css')
	link(rel="stylesheet", href='/stylesheets/responsive.bootstrap.min.css')
	block script
			script(src='./javascripts/jquery-3.4.1.min.js')
			script(src='./javascripts/bootstrap-boundle.min.js')
			script(src='./javascripts/jquery-1.12.3.js')
			//script(src='./javascripts/bootstrap.min.js')
			script(src='./javascripts/test-script.js')
			//script(src='./javascripts/dataTables.bootstrap.min.js')
			script(src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js')
			script(src='https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js')
			script(src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
			script(src='http://code.jquery.com/jquery-3.2.1.min.js')
			script(src='./javascripts/jquery.dmenu.js')
body
	.page
		.header
			.header-menu
				.container
					nav#menu
						a(href='#' style='background-image: url(images/logo.png)')
						ul
							li
								a(href='#') صفحه اصلی
							li
								a(href='#')
									i.fas.fa-search
									|  جستجوی محصولات
								ul
									li
										form
											input.form-control.mb-2(type='text')
											input.form-control(type='submit' value='جستجو')
							li
								a(href='#')  درباره ما
							li.IconOnly
								a(href='#')
									i.fab.fa-twitter
									|  Twitter
							li.IconOnly
								a(href='#')
									i.fab.fa-facebook
									|  Facebook
							li.IconOnly
								a(href='#')
									i.fab.fa-instagram
									|  Instagram
							li.IconOnly
								a(href='#')
									i.fab.fa-telegram
									|  Telegram
							li.SubmenuMega
								a(href='#') ماشین آلات راهسازی معدنی
								ul
									li
										a(href='#') Lorem ipsum
										ul
											li
												a(href='#') Dolor sit amet
											li
												a(href='#') Lorem ipsum dolor
											li
												a(href='#') Dolor sit amet (flyout)
												ul
													li
														a(href='#') Lorem ipsum dolor
													li
														a(href='#') Ipsum dolor
											li.SubSubmenuAlignRight
												a(href='#') Lorem ipsum dolor (flyout left)
												ul
													li
														a(href='#') Lorem ipsum dolor
													li
														a(href='#') Dolor sit amet
									li
										a(href='#') Dolor sit
										ul
											li
												a(href='#') Dolor sit amet
											li
												a(href='#') Lorem ipsum dolor
											li
												a(href='#') Dolor sit amet (flyout)
												ul
													li
														a(href='#') Lorem ipsum dolor
													li
														a(href='#') Ipsum dolor
													li.SubSubmenuAlignRight
														a(href='#') Lorem ipsum dolor (flyout left)
														ul
															li
																a(href='#') Lorem ipsum dolor
															li
																a(href='#') Dolor sit amet
															li
																a(href='#') Lorem ipsum dolor
															li
																a(href='#') Dolor sit amet
									li
										a(href='#') Amet
										ul
											li
												a(href='#') Link
											li
												a(href='#') Link
							li
								a(href='#') حمل و نقل جاده ای و ترابری 
							li.SubmenuMega.SubmenuFullwidth
								a(href='#')
									i.fas.fa-cogs
									|  دیزل ژنراتور
								ul.text-right
									li.p-3
										div(style='background-image: url(images/1.jpg)')
										a(href='#') ماشین الات راهسازی معدنی
										ul
											li
												a.small(href='#') لودر
											li.SubSubmenuAlignRight.SubmenuMega
												a.small(href='#')
													|  غلطک
												ul
													li
														a(href='#') هیوندای
															img.mr-3(src="/images/hyundai.jpg")
													li
														a(href='#') کوماتسو
															img.mr-3(src="/images/komatsu.jpg")
											li.SubSubmenuAlignRight
												a(href='#') Link (flyout left)
												ul
													li
														a(href='#') Link
													li
														a(href='#') Link
									li.p-3
										div(style='background-image: url(images/2.jpg)')
										a(href='#') دیزل ژنراتور
										ul
											li
												a(href='#') Link
											li
												a(href='#') Link
									li.p-3
										div(style='background-image: url(images/3.jpg)')
										a(href='#') کمپرسور ها
										ul
											li
												a(href='#') Link
											li
												a(href='#') Link
									li.p-3
										div(style='background-image: url(images/3.jpg)')
										a(href='#') کمپرسور ها
										ul
											li
												a(href='#') Link
											li
												a(href='#') Link
							li.SubmenuTabs.IconHidden
								a(href='#')
									i.fas.fa-home
									|  دسته بندی محصولات
								ul.text-right(style="direction: ltr;")
									li.SubmenuMega
										a(href='#') ماشین آلات راهسازی و معدنی
										ul
											li
												div.rounded.tilt(style='background-image: url(images/branches/excavator.png)')
												a(href='#') بیل مکانیکی
												ul
													li
														a.small.m-1(href='#') هیوندای
															img.ml-3(src="/images/brands/hyundai.png")
													li
														a.small.m-1(href='#') کوماتسو
															img.ml-3(src="/images/brands/komatsu.png")
													li.SubmenuMega
														a.small.m-1(href='#') سایر برند ها
														ul
															li
																a.small.m-1(href='#') زوملاین
																	img.ml-3(src="/images/brands/zoomlion.png")
																a.small.m-1(href='#') هپکو
																	img.ml-3(src="/images/brands/hepco.png")
																a.small.m-1(href='#') لیوگانگ
																	img.ml-3(src="/images/brands/liugong.png")
																a.small.m-1(href='#') چانگلین
																	img.ml-3(src="/images/brands/changlin.png")
																a.small.m-1(href='#') ایکس سی ام جی
																	img.ml-3(src="/images/brands/xcmg.png")
															li
																a.small.m-1(href='#') دلتا
																	img.ml-3(src="/images/brands/delta.png")
																a.small.m-1(href='#') فوتون لووول
																	img.ml-3(src="/images/brands/fotonlovol.png")
																a.small.m-1(href='#') هلیکو
																	img.ml-3(src="/images/brands/helico.png")
																a.small.m-1(href='#') اس دی ال جی
																	img.ml-3(src="/images/brands/sdlg.png")
																a.small.m-1(href='#') سانوارد
																	img.ml-3(src="/images/brands/sunward.png")
															li
																a.small.m-1(href='#') تیراژه ماشین
																	img.ml-3(src="/images/brands/tiragemachine.png")
																a.small.m-1(href='#') جانیانگ
																	img.ml-3(src="/images/brands/jonyang.png")
																a.small.m-1(href='#') ارهینو
																	img.ml-3(src="/images/brands/rhino.png")
																a.small.m-1(href='#') پاور پلاس
																	img.ml-3(src="/images/brands/powerplus.png")
											li
												div.rounded.tilt(style='background-image: url(images/branches/loader.png)')
												a(href='#') لودر
												ul
													li
														a.small.m-1(href='#') هیوندای
															img.ml-3(src="/images/brands/hyundai.png")
													li
														a.small.m-1(href='#') دلتا
															img.ml-3(src="/images/brands/delta.png")
													li.SubmenuMega
														a.small.m-1(href='#') سایر برند ها
														ul
															li
																a.small.m-1(href='#') هپکو
																	img.ml-3(src="/images/brands/hepco.png")
																a.small.m-1(href='#') هلیکو
																	img.ml-3(src="/images/brands/helico.png")
																a.small.m-1(href='#') نیو هلند
																	img.ml-3(src="/images/brands/newholland.png")
																a.small.m-1(href='#') ایکس سی ام جی
																	img.ml-3(src="/images/brands/xcmg.png")
															li
																a.small.m-1(href='#') کوماتسو
																	img.ml-3(src="/images/brands/komatsu.png")
																a.small.m-1(href='#') چانگلین
																	img.ml-3(src="/images/brands/changlin.png")
																a.small.m-1(href='#') دوسان
																	img.ml-3(src="/images/brands/doosan.png")
																a.small.m-1(href='#') اس دی ال جی
																	img.ml-3(src="/images/brands/sdlg.png")
															li
																a.small.m-1(href='#') لیوگانگ
																	img.ml-3(src="/images/brands/liugong.png")
											li
												div.rounded.tilt(style='background-image: url(images/branches/bulldozer.png)')
												a(href='#') بلدوزر
												ul
													li
														a.small.m-1(href='#') شنتویی
															img.ml-3(src="/images/brands/shantui.png")
													li
														a.small.m-1(href='#') کوماتسو
															img.ml-3(src="/images/brands/komatsu.png")
													li.SubmenuMega
														a.small.m-1(href='#') سایر برند ها
														ul
															li
																a.small.m-1(href='#') نیو هلند
																	img.ml-3(src="/images/brands/newholland.png")
																a.small.m-1(href='#') تیراژه ماشین
																	img.ml-3(src="/images/brands/tiragemachine.png")
																a.small.m-1(href='#') چانگلین
																	img.ml-3(src="/images/brands/changlin.png")
																a.small.m-1(href='#') کیس کراول
																	img.ml-3(src="/images/brands/casecrawle.png")
															li
																a.small.m-1(href='#') چترا دوزر
																	img.ml-3(src="/images/brands/chetradozer.png")
																a.small.m-1(href='#') پاور پلاس
																	img.ml-3(src="/images/brands/powerplus.png")
																a.small.m-1(href='#') زوملاین
																	img.ml-3(src="/images/brands/zoomlion.png")
																a.small.m-1(href='#') لیوگانگ
																	img.ml-3(src="/images/brands/liugong.png")
															li
																a.small.m-1(href='#') اچ بی ایکس جی 
																	img.ml-3(src="/images/brands/hbxg.png")
																a.small.m-1(href='#') ارهینو
																	img.ml-3(src="/images/brands/rhino.png")
																a.small.m-1(href='#') ایس
																	img.ml-3(src="/images/brands/ace.png")
											li
												div.rounded.tilt(style='background-image: url(images/branches/grader.png)')
												a(href='#') گریدر
												ul
													li
														a.small.m-1(href='#') کوماتسو
															img.ml-3(src="/images/brands/komatsu.png")
													li
														a.small.m-1(href='#') نیو هلند
															img.ml-3(src="/images/brands/newholland.png")
													li.SubmenuMega.SubSubmenuAlignRight
														a.small.m-1(href='#') سایر برند ها
														ul
															li
																a.small.m-1(href='#') چانگلین
																	img.ml-3(src="/images/brands/changlin.png")
																a.small.m-1(href='#') تیراژه ماشین
																	img.ml-3(src="/images/brands/tiragemachine.png")
																a.small.m-1(href='#') ایکس سی ام جی
																	img.ml-3(src="/images/brands/xcmg.png")
															li
																a.small.m-1(href='#') سانی
																	img.ml-3(src="/images/brands/sany.png")
																a.small.m-1(href='#') لیوگانگ
																	img.ml-3(src="/images/brands/liugong.png")
																a.small.m-1(href='#') شنتویی
																	img.ml-3(src="/images/brands/shantui.png")
															li
																a.small.m-1(href='#') ایس
																	img.ml-3(src="/images/brands/ace.png")
																a.small.m-1(href='#') پاور پلاس
																	img.ml-3(src="/images/brands/powerplus.png")
																a.small.m-1(href='#') ارهینو
																	img.ml-3(src="/images/brands/rhino.png")
											li
												div.rounded.tilt(style='background-image: url(images/branches/qaltak.png)')
												a(href='#') غلطک
												ul
													li
														a.small.m-1(href='#') دلتا
															img.ml-3(src="/images/brands/delta.png")
													li
														a.small.m-1(href='#') هلیکو
															img.ml-3(src="/images/brands/helico.png")
													li.SubmenuMega.SubSubmenuAlignRight
														a.small.m-1(href='#') سایر برند ها
														ul
															li
																a.small.m-1(href='#') تیراژه ماشین
																	img.ml-3(src="/images/brands/tiragemachine.png")
																a.small.m-1(href='#') چانگلین
																	img.ml-3(src="/images/brands/changlin.png")
											li
												div.rounded.tilt(style='background-image: url(images/branches/dumptruk.png)')
												a(href='#') دامپتراک
												ul
													li.SubmenuMega.SubSubmenuAlignRight
														a.small.m-1(href='#') سایر برند ها
														ul
															li
																a.small.m-1(href='#') ان اچ ال ترکس
																	img.ml-3(src="/images/brands/nhlterex.png")
																a.small.m-1(href='#') کوماتسو
																	img.ml-3(src="/images/brands/komatsu.png")
															li
																a.small.m-1(href='#') بلاز
																	img.ml-3(src="/images/brands/belaz.png")
																a.small.m-1(href='#') سانی
																	img.ml-3(src="/images/brands/sany.png")
												a.SubSubmenuInline(href='#') بیلبکهو
												ul
													li
														a.small.m-1(href='#') چانگلین
															img.ml-3(src="/images/brands/changlin.png")
									li.SubmenuMega
										a(href='#') ماشین الات حمل و نقل جاده ای و ترابری
										ul
											li
												img.zoom.rounded(src="images/brands/saypadiesel.png")
												a.text-center(href='#' style="text-decoration: none;") سایپا دیزل
											li
												img.zoom.rounded(src="images/brands/bahmandiesel.png")
												a.text-center(href='#' style="text-decoration: none;") بهمن دیزل
											li
												img.zoom.rounded(src="images/brands/karizankhodro.png")
												a.text-center(href='#' style="text-decoration: none;") کاریزان خودرو
											li
												img.zoom.rounded(src="images/brands/bmc.png")
												a.text-center(href='#' style="text-decoration: none;") بی ام سی
											li
												img.zoom.rounded(src="images/brands/international.png")
												a.text-center(href='#' style="text-decoration: none;") اینترنشنال
									li
										a(href='#') دیزل ژنراتور
										ul
											li.text-center
												img.rounded(src="images/branches/dieselgenerator.png")
												a.small.m-1(href='#') استامفورد
													img.ml-3(src="/images/brands/stamford.png")
									li
										a(href='#') کمپرسور
										ul
											li.text-center
												img.rounded(src="images/branches/compressor.png")
												a.small.m-1(href='#') کومپرسور ها
													//- div.p-4.bg-success.rellax(data-rellax-speed='-4')
													//- 	p hi
													//- br
													//- div.p-4.bg-success.rellax(data-rellax-speed='7')
													//- 	p hi
													//- br
													//- div.p-4.bg-success.rellax(data-rellax-speed='2')
													//- 	p hi
					script.
						$(function() {
						$(window).resize();
						});
						$('#menu').dmenu({
						menu 	: {
						logo			: true,
						align			: 'left'
						},
						item	: {
						bg				: true,
						border 			: false,
						subindicator	: true,
						fit			: [
						{
						items 		: null,
						fitter 		: 'icon-hide',
						order		: 'all'
						},
						{
						items 		: null,
						fitter 		: 'icon-only',
						order		: 'all'
						},
						{
						items 		: ':not(.dm-item_align-right)',
						fitter 		: 'submenu',
						order		: 'rtl'
						},
						{
						items 		: ':not(.dm-item_align-right)',
						fitter 		: 'hide',
						order		: 'rtl'
						}
						]
						},
						submenu	: {
						arrow			: false,
						border			: false,
						shadow			: true
						},
						subitem	: {
						bg				: true,
						border			: false
						}
						});
					script.
						//VanillaTilt.init(document.querySelector(".tilt"), {
						//max: 25,
						//speed: 400
						//});
						VanillaTilt.init(document.querySelectorAll(".tilt"), {
							max: 15,
							speed: 200
						});
					//- script.
					//- 	var rellax = new Rellax('.rellax');
			block content