doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=0.86, maximum-scale=1.0, minimum-scale=0.86')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')
    //link(rel="stylesheet", href='/stylesheets/dataTables.bootstrap.min.css')
    link(rel="stylesheet", href='https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css')
    link(rel="stylesheet", href='/stylesheets/responsive.bootstrap.min.css')
    block script
      script(src='./javascripts/jquery-3.4.1.min.js')
      script(src='./javascripts/bootstrap-boundle.min.js')
      script(src='./javascripts/jquery-1.12.3.js')
      //script(src='./javascripts/bootstrap.min.js')
      script(src='./javascripts/test-script.js')
      //script(src='./javascripts/dataTables.bootstrap.min.js')
      script(src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js')
      script(src='https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js')


  body.bodycolor
    block content
    nav.navbar.navbar-expand-md.fixed-top.mr-5
      //a.navbar-dark.navbar-brand.navlink(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link.navlink(href='/')
              | صفحه اصلی 
              span.sr-only (current)
          li.nav-item
            a.nav-link.navlink(href='#') درباره ما
          li.nav-item
            a.nav-link.navlink(href='#') راهنما
          li.nav-item
          .dropdown
            a.nav-link.navlink.dropdown-toggle(href='#' data-toggle='dropdown') محصولات
            ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
              li.dropdown-submenu
                a.nav-link.navlink1.navlinklistitem(href='/product/a') ماشین آلات راهسازی و معدنی
                ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                  li.dropdown-submenu
                    a.nav-link.navlink1.navlinklistitem(href='/product/a/a1') بیل مکانیکی
                    ul.dropdown-menu
                      li
                        .row
                          .col-md-9
                            a.nav-link.navlink1.navlinklistitem(href='/product/a/a1/a1a') هیوندای
                          .col-md-3
                            img(src="/images/hyundai.jpg")
                      li
                        .row
                          .col-md-9
                            a.nav-link.navlink1.navlinklistitem(href='/product/a/a1/a1b') کوماتسو
                          .col-md-3
                            img(src="/images/komatsu.jpg")
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') زوملاین
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') هپکو
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') لیوگانگ
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') چانگلین
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') XCMG
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') دلتا
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') فوتون
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') هلیکو
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') LG
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') سانوارد
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') تیراژه ماشین
                      li.divider
                  li.dropdown-submenu
                    a.nav-link.navlink1.navlinklistitem(href='#') لودر
                    ul.dropdown-menu
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') هیوندای
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') دلتا
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') هپکو
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') هلیکو
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') نیوهلند
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') XCMG
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') کوماتسو
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') چانگلین
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') دوسان
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') LG
                  li.dropdown-submenu
                    a.nav-link.navlink1.navlinklistitem.test(href='#') گریدر 
                  li.dropdown-submenu
                    a.nav-link.navlink1.navlinklistitem.test(href='#') غلطک 
                  li.dropdown-submenu
                    a.nav-link.navlink1.navlinklistitem.test(href='#') دامپتراک 
                  li.dropdown-submenu
                    a.nav-link.navlink1.navlinklistitem.test(href='#') بیلبکهو 
                    ul.dropdown-menu
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') 3rd level dropdown
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') 3rd level dropdown
              li.dropdown-submenu
                a.nav-link.navlink1.test.navlinklistitem(href='#') ماشین آلات حمل و نقل جاده ای و ترابری 
                ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                  li
                    a.nav-link.navlink1.navlinklistitem(href='#') 2nd level dropdown
                  li
                    a.nav-link.navlink1.navlinklistitem(href='#') 2nd level dropdown
                  li.dropdown-submenu
                    a.nav-link.navlink1.navlinklistitem.test(href='#') Another dropdown 
                      span.caret
                    ul.dropdown-menu
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') 3rd level dropdown
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') 3rd level dropdown
              li.dropdown-submenu
                a.nav-link.navlink1.test.navlinklistitem(href='#') دیزل ژنراتور (مولد برق)  
                ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                  li
                    a.nav-link.navlink1.navlinklistitem(href='#') 2nd level dropdown
                  li
                    a.nav-link.navlink1.navlinklistitem(href='#') 2nd level dropdown
                  li.dropdown-submenu
                    a.nav-link.navlink1.navlinklistitem.test(href='#') Another dropdown 
                      span.caret
                    ul.dropdown-menu
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') 3rd level dropdown
                      li
                        a.nav-link.navlink1.navlinklistitem(href='#') 3rd level dropdown
              li.dropdown-submenu
                a.nav-link.navlink1.test.navlinklistitem(href='#') کمپرسور
        //- form.form-inline.my-2.my-lg-0
        //-   input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
        //-   button.btn-info.linkbutton(type='submit' style='width: 100px; height: 35px; padding: 5px;') Search
