extends ../../../layout
block append script
block content
  .container
    table.table.table-striped(style='text-align: center;')
      tr
        th(scope='col') name
        th(scope='col') description
        th(scope='col') price
        th(scope='col') operations
      for item in products
        tr
          td #{item.name}
          td #{item.description}
          td #{item.price}$
          td
            form(action='/products/delete/'+item._id method='post')
              a.menuitem(href='/rahsazimadani/excavator/hundai/show/'+ item._id style='text-decoration: none; margin-right: 2%;') show
              button.btn-danger.linkbutton(type='submit' style='width: 20%; height: 30px; padding: 0px; margin-left: 2%;') delete
      else
        tr 
          td no products found!
          td no products found!
          td no products found!
          td no products found!
    a.btn.btn-primary(href="/rahsazimadani/excavator/hundai/create") ایجاد محصول جدید


//-     extends ../../../layout
//- block append script
//- block content
//-   .container
//-     h2.text-info.text-center بیل مکانیکی های هیوندای
//-     .row.mt-5.p-4
//-       p.text-right.mt-5 جایگاه بیل مکانیکی های هیوندای در بازار ایران
//-     .row
//-       ul#products
//-         each item in products
//-           li
//-             a#producta #{item.name}
//-     a.btn.btn-primary(href="/rahsazimadani/excavator/hundai/create") ایجاد محصول جدید