extends ../../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات راهسازی معدنی
    .row.mt-5.p-4
      p.text-right.mt-5 برند های معروف بیل مکانیکی
    .row
      ul#products
        a#producta(href='/product/a/a1/a1a') هیوندای
        a#productb کوماتسو
        a#productc زوملاین
        a#productd هپکو
        a#productd لیوگانگ
        a#productd چانگلین
        a#productd XCMG
        a#productd دلتا
        a#productd فوتون
        a#productd هلیکو
        a#productd LG
        a#productd سانوارد
        a#productd تیراژه ماشین