extends ../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات راهسازی معدنی
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی ماشین آلات راهسازی و معدنی به 7 دسته تقسیم می شوند
    .row
      ul#products
        a#producta(href='/branches/a1') بیل مکانیکی
        a#producta(href='/branches/a2') لودر
        a#producta(href='/branches/a3') بلدوزر
        a#producta(href='/branches/a4') گریدر
        a#producta(href='/branches/a5') غلطک
        a#producta(href='/branches/a6') دامپتراک
        a#producta(href='/branches/a7') بیلبکهو