extends ../layout1
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات راهسازی معدنی
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی بیل مکانیکی ها شامل 16 برند مهم می باشند
    .row
      ul#products
        a#producta(href='/product/a1a') HYUNDAI
        a#producta(href='/product/a1b') KUMATSU
        a#producta(href='/product/a1c') ZOOMLION
        a#producta(href='/product/a1d') HEPCO
        a#producta(href='/product/a1e') LIUGONG
        a#producta(href='/product/a1f') CHANGLIN
        a#producta(href='/product/a1g') XCMG
        a#producta(href='/product/a1h') DELTA
        a#producta(href='/product/a1i') FOTON LOVOL
        a#producta(href='/product/a1j') HELICO
        a#producta(href='/product/a1k') SDLG
        a#producta(href='/product/a1l') SUNWARD
        a#producta(href='/product/a1m') TIRAGE MACHINE
        a#producta(href='/product/a1n') JONYANG
        a#producta(href='/product/a1o') RHINO
        a#producta(href='/product/a1p') POWER PLUS
      