extends ../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات راهسازی معدنی
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی بلدوزر ها شامل 13 برند مهم می باشند
    .row
      ul#products
        a#producta(href='/product/a3a') SHANTUI
        a#producta(href='/product/a3b') KOMATSU
        a#producta(href='/product/a3c') NEW HOLLAND
        a#producta(href='/product/a3d') TIRAGE MACHINE
        a#producta(href='/product/a3e') CHANGLINE
        a#producta(href='/product/a3f') CASE CRAWLE TRACTOR
        a#producta(href='/product/a3g') CHETRA DOZER
        a#producta(href='/product/a3h') POWER PLUS
        a#producta(href='/product/a3i') ZOOMLION
        a#producta(href='/product/a3j') LIUGONG
        a#producta(href='/product/a3k') HBXG
        a#producta(href='/product/a3l') RHINO
        a#producta(href='/product/a3m') ACE