extends ../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات راهسازی معدنی
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی گریدر ها شامل 11 برند مهم می باشند
    .row
      ul#products
        a#producta(href='/product/a4a') KOMATSU
        a#producta(href='/product/a4b') NEW HOLLAND
        a#producta(href='/product/a4c') CHANGLINE
        a#producta(href='/product/a4d') TIRAGE MACHINE
        a#producta(href='/product/a4e') XCMG
        a#producta(href='/product/a4f') SHANTUI
        a#producta(href='/product/a4g') SANY
        a#producta(href='/product/a4h') LIUGONG
        a#producta(href='/product/a4i') POWER PLUS
        a#producta(href='/product/a4j') RHINO
        a#producta(href='/product/a4k') ACE