extends ../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات راهسازی معدنی
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی غلطک ها شامل 4 برند مهم می باشند
    .row
      ul#products
        a#producta(href='/product/a5a') DELTA
        a#producta(href='/product/a5b') HELICO
        a#producta(href='/product/a5c') TIRAGE MACHINE
        a#producta(href='/product/a5d') CHANGLINE