extends ../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات راهسازی معدنی
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی دامپتراک ها شامل 4 برند مهم می باشند
    .row
      ul#products
        a#producta(href='/product/a6a') NHL TREEX
        a#producta(href='/product/a6b') KOMATSU
        a#producta(href='/product/a6c') BELAZ
        a#producta(href='/product/a6d') SANY