extends ../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات راهسازی معدنی
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی بیل بکهو ها شامل 1 برند مهم می باشند
    .row
      ul#products
        a#producta(href='/product/a7a') CHANGLINE