extends ../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات حمل و نقل جاده ای و ترابری
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی ماشین های حمل و نقل جاده ای و ترابری شامل 1 برند مهم می باشند
    .row
      ul#products
        a#producta(href='/product/b1') شرکت سایپا دیزل
        a#producta(href='/product/b2') شرکت بهمن دیزل
        a#producta(href='/product/b3') کاریزان خودرو
        a#producta(href='/product/b4') BMC
        a#producta(href='/product/b5') INTERNATIONAL