extends ../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات حمل و نقل جاده ای و ترابری
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی دیزل ژنراتور ها شامل 1 برند مهم می باشند
    .row
      ul#products
        a#producta(href='/product/c1') stamford