extends ../layout
block append script
block content
  .container
    h2.text-info.text-center ماشین آلات راهسازی معدنی
    .row.mt-5.p-4
      p.text-right.mt-5 به طور کلی ماشین آلات راهسازی و معدنی به 4 دسته تقسیم می شوند
    .row
      ul#products
        a#producta(href='/rahsazimadani/excavator') بیل مکانیکی
        a#productb لودر
        a#productc گریدر
        a#productd غلطک
        a#productd دامپتراک
        a#productd بیلبکهو
    